#body_1 {
    margin: 0px;
    /* background-color: aqua; */
    font-family: system-ui;
    color: gray;
}

#nmain {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 0px 30px;
    box-shadow: 1px 0px 5px lightgrey;
}

#nmain>div {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

#nmain>div>div,
#nav_raj>div {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 98%;
}

.icon {
    border-top: 6px #666060 solid;
    border-left: 6px transparent solid;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    position: relative;
    top: 4px;
    margin-left: 4px;

}

#nmain>div>div>a,
#nav_log>a,
#nav_raj>div>a {
    font-weight: 600;
    color: #484848;
    font-family: system-ui;
    text-decoration-line: none;
}

#nmain>div>div>a {
    margin: 25px 0px;
}

#nav_log>a {
    padding: 3px 20px;
    border: 1px solid #00A5EC;
    color: #00A5EC;
    border-radius: 3px;
}

#nav_raj>div {
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    background-color: #00A5EC;
}

#nav_raj>div>a {
    color: white;
}

#nav_raj>div>div {
    border-top-color: white;
}

#off {
    color: white;
    background-color: rgb(243, 168, 7);
    font-weight: 600;
    margin-left: 4px;
    padding: 2px 5px;
    border-radius: 3px;
}

#nmain>div>div:hover {
    border-bottom: 2px solid #00A5EC;
}

#nav_option {
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    background-color: #6660606c;
    display: none;
}

/* Hover effect */
#nav_option>div {
    width: fit-content;
    position: absolute;
    /* border: 2px solid red; */
    height: 70vh;
    display: none;
    background-color: white
}

#nav_option>div:first-child {

    right: 280px;

}

#nav_option>div:nth-child(2) {
    right: 165px;

}

#nav_option>div:nth-child(3) {
    right: 0px;

}

#nav_option>div:nth-child(4) {
    right: 0px;

}

#nav_option>div>div {
    padding-right: 20px;
    box-shadow: 0px 1px 2px gray;
    overflow-y: auto;

}

#nav_option>div>div>p {
    padding: 10px;
    font-weight: 600;
}

#nav_option>div>div>p:hover {
    border-radius: 0px 50px 50px 0px;
    color: #085bf5;
    background-color: rgba(186, 233, 248, 0.603);

}

#nav_option>div>div:nth-child(2)>a {
    display: block;
    padding: 10px 15px;
    color: gray;
    text-decoration: none;

}

#nav_option>div>div:nth-child(2)>a:hover {
    color: #00A5EC;
}

