body{
    background-image: url(https://wallpaperaccess.com/full/625416.jpg);
}
#top{
    display: flex;
    flex-direction: row;
}
#details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}
.search{
    margin-left: 32%;
}
input{
    margin-top: 2px;
    width: 300px;
    height: 25px;
}
    #gmap_canvas{
    /* margin-top: 20px; */
    /* margin-left: 40%; */
    height: 270px;
    width: 390px;
    margin-left: 20px;
    border-radius: 3px;
}
.text{
    font-size: 15px;
}
#showForecast{
    display: grid;
    grid-template-columns: repeat(7, 150px);
    /* align-items: center; */
    justify-content: center;
    margin-top: 15px;
}
.forecastBox{
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    height: 160px;
    margin-left: 10px;
    border-radius: 5px;
    border-style: groove;
    text-align: center;
    /* background-image: url(https://icon-library.com/images/weather-icon-gif/weather-icon-gif-17.jpg); */
}
img{
    height: 80px;
    width: 140px;
}
.num{
    margin: 2px;
    padding: 2px;
}
.submit{
background-color: rgb(89, 125, 232);
/* color: white; */
}
.forecast{
    background-color: rgb(87, 233, 138);
    /* color: white; */
}
button{
    border: 1px solid white;
    border-radius: 4px;
    margin: 0px 5px;
}
#error{
    margin-top: 20px;
    text-align: center;
}
