#home{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-rows: 2000px;
    
    }
    #beta{
    height: 400px;
    width: 16%;
    margin-left: 60px;
    margin-top: 100px;
    
    background-color: rgb(238, 235, 235);
    }

    #bap{
    height: 100%px;
    width: 70%;
    margin-top: -1900px;
    margin-left: 350px;
    
    }
    #sk{
        height: 350px;
        width: 83%;
        
        margin: auto;
        margin-top: -5%;
    }
    #sixth{
            height: 300px;width: 100%;display: flex;background-color: rgb(247, 241, 241);
        }
        .class6{
            height: 98%;width: 23%;margin-left: 15px;margin-right: 15px;
        }
    /* #bap>p{
    width:80%
    } */
    @media screen and (min-width:268px) and (max-width:480px) {
        #beta{
            display: inline;
        }
        #bap{
            display: inline;
        }
        #sk{
            display: inline;
        }
        #sixth{
            display: inline;
        }
        .class6{
            display: inline;
        }
        #xx{
            display: inline;
        }
        p{
            display: inline;
        }
        h1{
            display: inline;
        }
        h2{
            display: inline;
        }
        h3{
            display: inline-block;
        }
        ul{
            display: inline-block;
        }
    }