#two {
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 30px;
}
#two > h1 {
  line-height: 0px;
  font-family: sans-serif;
  font-size: 35px;
}
#two > hr {
  width: 70px;
  height: 2px;
  line-height: 0px;
  background-color: rgb(231, 106, 106);
}
#shortbox4 {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px;
  margin-left: 6%;
  margin-right: 10%;
  margin-bottom: 40px;
}
.see4 {
  color: grey;
  border: 2px solid;
  border-radius: 7px;
  border-color: rgb(231, 106, 106);
  padding: 5%;
  font-size: 15px;
  text-align: center;
}
#flexone4 {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-right: 6%;
}
.imgone4 {
  height: 700px;
  width: 70%;
}
.firstcontent4 {
  text-align: center;
  font-family: inherit;
  font-size: 35px;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
}
.firstcontent4 > .brief4 {
  font-size: 20px;
}
.firstcontent4 > .fromone4 {
  font-size: 12px;
  color: grey;
  text-align: left;
  padding-top: 30%;
}
/* second flex */
#SecondFlex4 {
  display: flex;
  margin-top: 40px;
  margin-left: 6%;
  margin-right: 6%;
}
#Second1flex4 {
  height: 700;
  width: 420px;
  padding-right: 10px;
}
#Second2flex4 {
  height: 700;
  width: 420px;
  padding-right: 10px;
}
#Second3flex4 {
  height: 700;
  width: 450px;
}
.imgsecond4 {
  height: 400px;
  width: 370px;
}
.headsecond4 {
  font-size: 30px;
  text-align: left;
}
.cotentsecond4 {
  text-align: left;
  font-size: 15px;
  font-style: normal;
}
/* third flex */
#flexthird4 {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 40px;
}
.imgthird4 {
  height: 700px;
  width: 70%;
}
.contentthird4 {
  text-align: center;
  font-family: normal;
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
}
.headthird4 {
  font-size: 35px;
}
.contentthird4 > .briefthird4 {
  font-size: 20px;
}
.fromthird4 {
  font-size: 12px;
  color: grey;
  text-align: left;
  padding-top: 40%;
}
/* fourth flex */
#flexfourth4 {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 6%;
  margin-right: 6%;
}
.flexfourthone4 {
  height: 600px;
  width: 420px;
  padding-right: 10px;
}
.flexfourthtwo4 {
  height: 600px;
  width: 420px;
  padding-right: 10px;
}
.flexfourththree4 {
  height: 600px;
  width: 420px;
  /* padding-right: 10px; */
}
.imgfourth4 {
  height: 400px;
  width: 370px;
}
.contentfourth4 > .headfourth4 {
  font-size: 30px;
  text-align: center;
}
.contentfourth4 > .fromfourth4 {
  font-size: 15px;
  color: rgb(54, 49, 49);
}
/* fivth flex */
#flexfivth5 {
  display: flex;
  margin-top: 40px;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 50px;
}
.flexfivthone5 {
  height: 600px;
  width: 400px;
  /* padding-right: 10px; */
}
.flexfivthtwo5 {
  height: 600px;
  width: 400px;
  /* padding-right: 10px; */
  /* padding-bottom: 50px; */
}
.flexfivththree5 {
  height: 600px;
  width: 400px;
  /* padding-right: 10px; */
  /* padding-bottom: 50px; */
}
.imgfivth5 {
  height: 400px;
  width: 370px;
}
.headfivth5 {
  font-size: 30px;
  text-align: center;
}
.brieffivth5 {
  font-size: 15px;
  text-align: left;
}
#Footar4 {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  justify-content: center;
}
.Footarsec4 {
  font-size: 15px;
  padding-right: 100px;
  padding-top: 20px;
}
.tagFootarsec4 {
  font-size: 20px;
}
.sistersites4 {
  text-align: right;
}
#Footartwo4 {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  height: 350px;
}
.copyfootar4 {
  font-size: 40px;
  align-self: center;
}
.brieffootar4 {
  font-size: 30px;
  align-self: left;
}
.linkfootar4 {
  font-size: 30px;
  color: red;
  align-self: left;
}
/* function for shortbox */
.First {
  text-align: center;
}
.Sec {
  background-color: #fe5c74;
}
.Thi {
  background-color: white;
}

/* Media query */
/* <style> */
   /* -------------input---------- */
   .searchinput{
    height:20px;
    width:20px;
   padding-left:10px;
   background-image: url("http://assets.stickpng.com/thumbs/585e4ad1cb11b227491c3391.png");

}

    .content1>ul{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    }
    .content1>ul>li{
    display: inline-block;
    padding: 0 15px;
    }
    .content1>ul>li>a{
    text-decoration: none;
    font-family: sans-serif;
    word-spacing: 10px;
    }
    .style8{
    display: flex;
    height: 80px;
    width:70%;
    padding-left: 280px;
    }
    .style8>div :first-child{
    margin-top:20px;
    height: 45px;
    margin-left: 200px;
    }

    #input18{
     border-radius: 15px; 
    height: 30px;
    width:220px;
    border: 1px solid white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
    }
  
    .image8{
    height: 160px;
    width: 140px;
    }
    #navimg8{
     position:absolute;
    display: grid;
    grid-template-columns: repeat(6,200px);
    grid-template-rows: 200px;
    width:60%;
    margin-left:120px;
    text-align: center;
 
   
    }
    .displaynav{
    margin-left: 10px;
    justify-content:space-between;
    font-size: 14px;
    font-family:sans-serif;
    }
    .displaynavmain{
    /* border-radius: 15px; */
    height: 300px;
    width:95%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #9b9b9b;
    background-color: white;
    }
  #about{
  text-align:justify;
  padding-left: 200px;
  margin-left:900px;
  font-family: sans-serif;
  }
    .divabt{
    width: 180px;
    height: 150px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 0;
    padding-left: 50px;
    padding-top: 50px;
    line-height: 10px;
    /* border-radius: 15px; */
    font-size:15px;
    color: #9b9b9b;
    background-color: white;
    }
    #navscroll{
        position:relative;
    }

 
